.title-timer-container {
  display: flex;
  align-items: center;
  gap: 80px;
}

.products-section-title {
  font-size: 36px;
  font-weight: 600;
}
.products-section-button {
  outline: none;
  border: none;
  padding: 0;
  color: #fff;
  font-size: 1.5rem;
  background: transparent;
}

@media (max-width: 768px) {
  .title-timer-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  
  .products-section-title {
    font-size: 2rem;
  }
}
