body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-continer {
  flex: 1;
  min-height: calc(100vh - 120px);
}